@import '../../../sass/mixins';
@import '../../../sass/variables';

.header {
  @include header;
}

.content {
  @include content;

  .description {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .example {
    columns: 3;
  }
}