@import '../../../sass/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  h2 {
    font-family: $headerFont;
    font-weight: 400;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    .label {
      background-color: $white;
      padding: 8px 24px 8px 12px;
      font-size: 26px;
      clip-path: polygon(
                      0 0,
                      100% 0,
                      calc(100% - 12px) 100%,
                      0 100%
      );
      color: black;
    }
  }


}
