@import '../../../sass/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: $headerFont;
    font-weight: 400;
  }

  .navigation {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212532;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;

    &.active {
      width: 200px;
      height: 200px;
      transition-delay: 0.1ms;
    }

    span {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7px;
      height: 7px;
      background: #fff;
      border-radius: 50%;
      transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;

      .icon {
        transition: 0.5s;
        font-size: 0;
      }
    }

    &.active span {
      width: 45px;
      height: 45px;
      background: #333849;

      .icon {
        font-size: 1.35em;
      }

      &:hover {
        color: #2dfc52;
        filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
      }
    }
  }

}



